@model Ziggurat.Registration.Client.RegistrationStatus.RegistrationStatusView

@{
    ViewBag.Title = "Registration failed!";
}

<div class="alert alert-error">
    This registration has been unsuccessful.
</div>

<fieldset>
    <legend>Here is the list of errors:</legend>
    @for (var i = 1; i <= Model.Errors.Count; i++)
    {
        <div class="well well-small">
            <span class="badge badge-important">@i</span>
            <span>@Model.Errors[i-1]</span>
        </div>
    }
</fieldset>


