@model Ziggurat.Registration.Client.RegistrationStatus.RegistrationStatusView

@{
    ViewBag.Title = "Registration is in progress";
}

<div class="alert alert-info">
    Registration is not yet ready
</div>

<div class="well well-large">
    <p>
        Looks like we are still working on your registration. You will be advised when your account is ready.
    </p>
</div>
