@model Ziggurat.Definition.Client.ProjectOverview

@{
    ViewBag.Title = "Index";
}

@section Submenu {
   <a href="#" class="btn"><i class="icon icon-plus"></i> New document type</a>
}

<div class="page-header">
    <h1>Project Overview</h1>
</div>

<fieldset>
    <legend>Basic settings:</legend>
    <ol class="unstyled">
        <li>
            Name: <strong>@Model.Name</strong>
        </li>
        <li>
            Short name: <strong>@Model.ShortName</strong>
        </li>
    </ol>
</fieldset>