@{
    ViewBag.Title = "Index";
}

@section Submenu {
   <a href="#" class="btn"><i class="icon icon-plus"></i> New document type</a>
}

<div class="page-header">
    <h1>Project Overview</h1>
</div>
