@model Ziggurat.Definition.Client.ProjectOverview
@using Ziggurat.Web.Helpers

@{
    ViewBag.Title = "Overview: " + Model.Name;
}

@section Submenu {
    @if (Url.IsInProject()) {
        @Html.Partial("_AddFormComponent", new Ziggurat.Web.Areas.Configuration.Models.CreateFormModel())
    }
}

<div class="page-header">
    <h1>@Model.Name</h1>
</div>

<fieldset>
    <ol class="unstyled">
        <li>
            Name: <strong>@Model.Name</strong>
        </li>
        <li>
            Short name: <strong>@Model.ShortName</strong>
        </li>
    </ol>
</fieldset>
