@model Ziggurat.Definition.Client.ProjectOverview

@{
    ViewBag.Title = "Index";
}

@section Submenu {
   @Html.Partial("_AddFormComponent", new Ziggurat.Web.Areas.Configuration.Models.CreateFormModel())
}

<div class="page-header">
    <h1>Project Overview</h1>
</div>

<fieldset>
    <legend>Basic settings:</legend>
    <ol class="unstyled">
        <li>
            Name: <strong>@Model.Name</strong>
        </li>
        <li>
            Short name: <strong>@Model.ShortName</strong>
        </li>
    </ol>
</fieldset>
