@using Ziggurat.Inftastructure.Web.Helpers

@if (Request.IsAuthenticated) {
    <text>
        Hello, @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", style="display: inline" })) {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        }
    </text>
} else {
    <ul class="nav">
        @Html.MenuItem("Account", "Register", "Register", "registerLink")
        @Html.MenuItem("Account", "Login", "Log in", "loginLink")
    </ul>
}
