@model Ziggurat.Definition.Client.FormInfo
@{
    ViewBag.Title = "Overviwe: " + Model.Name;
}

@section Submenu {
   @Html.Partial("_AddPropertyComponent", new Ziggurat.Web.Areas.Configuration.Models.NewPropertyModel { FormId = Model.Id })
}

<div class="page-header">
    <h2>@Model.Name</h2>
</div>
