@using Ziggurat.Web.Helpers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
        <div class="well">
            @if (Url.IsInProject()) {
                @Html.Action("FormList", "ProjectLayout")
            }
        </div>
    </div>
    <div class="span9">
      @RenderBody()
    </div>
  </div>
</div>

@section Submenu {
    @RenderSection("submenu", required: false)
}

@section Scripts {
    <script src="~/Areas/Configuration/Scripts/configuration.formList.js"></script>
    @RenderSection("scripts", required: false)
}