@using Ziggurat.Web.Helpers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
        <div class="well">
            @Html.Partial("_ProjectFormsList")
        </div>
    </div>
    <div class="span9">
      @RenderBody()
    </div>
  </div>
</div>

@section Submenu {
    @RenderSection("submenu", required: false)
}

@section Scripts {
    @RenderSection("scripts", required: false)
}