@model Ziggurat.Web.Areas.Configuration.Models.ProjectFormsListModel

<ul id="formsList" class="nav nav-list" style="padding: 8px 0;">
    @foreach (var group in Model.FormGroups)
    {
        <li class="nav-header">@group.Header</li>
        foreach (var form in group.Forms)
        {
            <li data-id="@form.FormId"><a href="#">@form.Name</a></li>
        }
    }
    <li class="divider"></li>
    <li>
        <div class="input-append">
            <input type="text" placeholder="new blockheader..." class="span9" />
            <button class="btn" type="button">Add</button>
        </div>
    </li>
</ul>
