<ul class="nav nav-list" style="padding: 8px 0;">
    <li class="nav-header">MAILBOX <a href="#" class="pull-right" title="New document type under Mailbox"><i class="icon icon-plus"></i></a></li>
    <li><a href="#">RFI</a></li>
    <li><a href="#">Design Document</a></li>

    <li class="nav-header">REPORTS</li>
    <li><a href="#">Legacy systems</a></li>
    <li><a href="#">Overall loss</a></li>
    <li class="divider"></li>
    <li>
        <div class="input-append">
            <input type="text" placeholder="new blockheader..." class="span9" />
            <button class="btn" type="button">Add</button>
        </div>
    </li>
</ul>